body{
    margin: 0;
    background-color: darkseagreen;
}
header{
    clear: both;
    background-color: #44547e;
    padding: 10px;
}
h1, h2, a{
    font-family: Verdana, serif;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
h1{
    text-align: center;
    color: white;
}
form {
    padding: 10px;
    border: 1px solid grey;
}
main p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-decoration: none;
}
.left{
    background-color: aliceblue;
    float: left;
    width: 60%;
    padding: 30px 100px 30px 170px;
}
.elem{
    margin: 10px;
    padding: 10px;
    border: 1px solid grey;
    float: left;
    text-align: center;
}
.elem span{
    font-family: Sans, sans-serif;
    color: #009257;
}
.elem p{
     font-family: Sans, sans-serif;
     font-weight: 700;
     font-size: 14px;
     margin-bottom: 0;
     margin-top: 0;
}
.right{
    float: right;
    width: 20%;
    padding: 10px;
}
footer{
    background-color: cadetblue;
    padding: 80px;
    clear: both;
}
footer p{
    font-weight: normal;
    color: white;
}
